In [2]:
%pip install google-cloud-bigquery chardet db-dtypes

Requirement already satisfied: google-cloud-bigquery in c:\users\michael\anaconda3\envs\py38\lib\site-packages (3.13.0)
Requirement already satisfied: chardet in c:\users\michael\anaconda3\envs\py38\lib\site-packages (5.2.0)
Requirement already satisfied: db-dtypes in c:\users\michael\anaconda3\envs\py38\lib\site-packages (1.1.1)
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (1.59.3)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (2.14.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.15.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (1.22.3)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (2.3.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (2.6.0)
Requirement already satisfied: packaging>=20.0.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (20.9)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (4.25.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in c:\users\michael\appdata\roaming\python\python38\site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-cloud-bigquery) (2.30.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from db-dtypes) (2.0.3)
Requirement already satisfied: pyarrow>=3.0.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from db-dtypes) (14.0.1)
Requirement already satisfied: numpy>=1.16.6 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from db-dtypes) (1.20.3)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.61.0)
Requirement already satisfied: google-auth<3.0.dev0,>=2.14.1 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2.22.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.59.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from packaging>=20.0.0->google-cloud-bigquery) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from pandas>=0.24.2->db-dtypes) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\michael\appdata\roaming\python\python38\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2023.7.22)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.7.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\michael\anaconda3\envs\py38\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.dev0,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ensorflow (c:\users\michael\anaconda3\envs\py38\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\michael\anaconda3\envs\py38\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\michael\anaconda3\envs\py38\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\michael\anaconda3\envs\py38\lib\site-packages)

In [3]:
%pip install --upgrade charset_normalizer --user

Requirement already satisfied: charset_normalizer in c:\users\michael\appdata\roaming\python\python38\site-packages (3.3.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ensorflow (c:\users\michael\anaconda3\envs\py38\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\michael\anaconda3\envs\py38\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow (c:\users\michael\anaconda3\envs\py38\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\michael\anaconda3\envs\py38\lib\site-packages)

In [4]:
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file(
    'querier-test-01-a8cea750269c.json')

In [5]:

from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client(credentials=credentials)

query = """
    SELECT *
    FROM `querier-test-01.Test_01.wine`
    LIMIT 20
"""
query_job = client.query(query)  # Make an API request.

print("The query data:")
for row in query_job:
    # Row values can be accessed by field name or index.
    print(row)

c:\Users\Michael\anaconda3\envs\py38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\Michael\anaconda3\envs\py38\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
c:\Users\Michael\anaconda3\envs\py38\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
c:\Users\Michael\anaconda3\envs\py38\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

The query data:
Row((11.6, 0.58, 0.66, 2.2, 0.07400000000000001, 10.0, 47.0, 1.0008, 3.25, 0.57, 9.0, 3, 459), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.3, 0.98, 0.05, 2.1, 0.061, 20.0, 49.0, 0.99705, 3.31, 0.55, 9.7, 3, 1469), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.1, 0.875, 0.05, 5.7, 0.08199999999999999, 3.0, 14.0, 0.99808, 3.4, 0.52, 10.2, 3, 1478), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((6.7, 0.76, 0.02, 1.8, 0.078, 6.0, 12.0, 0.996, 3.55, 0.63, 9.95, 3, 1505), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((10.4, 0.61, 0.49, 2.1, 0.2, 5.0, 16.0, 0.9994, 3.16, 0.63, 8.4, 3, 517), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.6, 1.58, 0.0, 2.1, 0.13699999999999998, 5.0, 9.0, 0.9947600000000001, 3.5, 0.4, 10.9, 3, 1299), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.3, 0.55, 0.03, 1.6, 0.07200000000000001, 17.0, 42.0, 0.9956, 3.37, 0.48, 9.0, 4, 167), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((9.9, 0.5, 0.24, 2.3, 0.10300000000000001, 6.0, 14.0, 0.9978, 3.34, 0.52, 10.0, 4, 576), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.3, 0.35, 0.24, 2.0, 0.067, 28.0, 48.0, 0.9957600000000001, 3.43, 0.54, 10.0, 4, 872), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((6.2, 0.785, 0.0, 2.1, 0.06, 6.0, 13.0, 0.99664, 3.59, 0.61, 10.0, 4, 1461), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((5.0, 1.02, 0.04, 1.4, 0.045, 41.0, 85.0, 0.9938, 3.75, 0.48, 10.5, 4, 94), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((8.3, 0.845, 0.01, 2.2, 0.07, 5.0, 14.0, 0.9967, 3.32, 0.58, 11.0, 4, 647), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((6.4, 0.53, 0.09, 3.9, 0.12300000000000001, 14.0, 31.0, 0.9968, 3.5, 0.67, 11.0, 4, 1423), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((6.7, 1.04, 0.08, 2.3, 0.067, 19.0, 32.0, 0.9964799999999999, 3.52, 0.57, 11.0, 4, 1467), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((8.5, 0.4, 0.4, 6.3, 0.05, 3.0, 10.0, 0.99566, 3.28, 0.56, 12.0, 4, 1276), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((8.3, 0.625, 0.2, 1.5, 0.08, 27.0, 119.0, 0.9972, 3.16, 1.12, 9.1, 4, 79), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.9, 0.885, 0.03, 1.8, 0.057999999999999996, 4.0, 8.0, 0.9972, 3.36, 0.33, 9.1, 4, 170), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((12.5, 0.46, 0.49, 4.5, 0.07, 26.0, 49.0, 0.9981, 3.05, 0.57, 9.6, 4, 409), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((7.5, 0.38, 0.48, 2.6, 0.073, 22.0, 84.0, 0.9972, 3.32, 0.7, 9.6, 4, 703), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})
Row((8.8, 0.955, 0.05, 1.8, 0.075, 5.0, 19.0, 0.99616, 3.3, 0.44, 9.6, 4, 1189), {'fixed_acidity': 0, 'volatile_acidity': 1, 'citric_acid': 2, 'residual_sugar': 3, 'chlorides': 4, 'free_sulfur_dioxide': 5, 'total_sulfur_dioxide': 6, 'density': 7, 'pH': 8, 'sulphates': 9, 'alcohol': 10, 'quality': 11, 'Id': 12})

In [6]:
# Convert to dataframe
import db_dtypes
df = client.query(query).to_dataframe()
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,Id
0,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.00,3,459
1,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.70,3,1469
2,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,10.20,3,1478
3,6.7,0.760,0.02,1.8,0.078,6.0,12.0,0.99600,3.55,0.63,9.95,3,1505
4,10.4,0.610,0.49,2.1,0.200,5.0,16.0,0.99940,3.16,0.63,8.40,3,517
5,7.6,1.580,0.00,2.1,0.137,5.0,9.0,0.99476,3.50,0.40,10.90,3,1299
6,7.3,0.550,0.03,1.6,0.072,17.0,42.0,0.99560,3.37,0.48,9.00,4,167
7,9.9,0.500,0.24,2.3,0.103,6.0,14.0,0.99780,3.34,0.52,10.00,4,576
8,7.3,0.350,0.24,2.0,0.067,28.0,48.0,0.99576,3.43,0.54,10.00,4,872
9,6.2,0.785,0.00,2.1,0.060,6.0,13.0,0.99664,3.59,0.61,10.00,4,1461
10,5.0,1.020,0.04,1.4,0.045,41.0,85.0,0.99380,3.75,0.48,10.50,4,94
11,8.3,0.845,0.01,2.2,0.070,5.0,14.0,0.99670,3.32,0.58,11.00,4,647
12,6.4,0.530,0.09,3.9,0.123,14.0,31.0,0.99680,3.50,0.67,11.00,4,1423
13,6.7,1.040,0.08,2.3,0.067,19.0,32.0,0.99648,3.52,0.57,11.00,4,1467
14,8.5,0.400,0.40,6.3,0.050,3.0,10.0,0.99566,3.28,0.56,12.00,4,1276
15,8.3,0.625,0.20,1.5,0.080,27.0,119.0,0.99720,3.16,1.12,9.10,4,79
16,7.9,0.885,0.03,1.8,0.058,4.0,8.0,0.99720,3.36,0.33,9.10,4,170
17,12.5,0.460,0.49,4.5,0.070,26.0,49.0,0.99810,3.05,0.57,9.60,4,409
18,7.5,0.380,0.48,2.6,0.073,22.0,84.0,0.99720,3.32,0.70,9.60,4,703
19,8.8,0.955,0.05,1.8,0.075,5.0,19.0,0.99616,3.30,0.44,9.60,4,1189

In [7]:
query = """
    SELECT table_name, column_name, data_type
     FROM `querier-test-01.Test_01`.INFORMATION_SCHEMA.COLUMNS
    ORDER BY table_name, ordinal_position
"""
query_job = client.query(query)  # Make an API request.

print("The query data:")
print("table_name\tcolumn_name\tdata_type")
for row in query_job:
    # Row values can be accessed by field name or index.
    print('{}\t{}\t{}'.format(row[0],row[1],row[2]))

The query data:
table_name	column_name	data_type
customer-churn	RowNumber	INT64
customer-churn	CustomerId	INT64
customer-churn	Surname	STRING
customer-churn	CreditScore	INT64
customer-churn	Geography	STRING
customer-churn	Gender	STRING
customer-churn	Age	INT64
customer-churn	Tenure	INT64
customer-churn	Balance	FLOAT64
customer-churn	NumOfProducts	INT64
customer-churn	HasCrCard	INT64
customer-churn	IsActiveMember	INT64
customer-churn	EstimatedSalary	FLOAT64
customer-churn	Exited	INT64
customer-churn	Complain	INT64
customer-churn	Satisfaction_Score	INT64
customer-churn	Card_Type	STRING
customer-churn	Point_Earned	INT64
wine	fixed_acidity	FLOAT64
wine	volatile_acidity	FLOAT64
wine	citric_acid	FLOAT64
wine	residual_sugar	FLOAT64
wine	chlorides	FLOAT64
wine	free_sulfur_dioxide	FLOAT64
wine	total_sulfur_dioxide	FLOAT64
wine	density	FLOAT64
wine	pH	FLOAT64
wine	sulphates	FLOAT64
wine	alcohol	FLOAT64
wine	quality	INT64
wine	Id	INT64

In [13]:
query = """
SELECT table_name, column_name, data_type
FROM `querier-test-01.Test_01`.INFORMATION_SCHEMA.COLUMNS
ORDER BY table_name, ordinal_position
"""
query_job = client.query(query)
# Convert to tables
tables = {}
for table_name, column_name, datatype in query_job:
    if table_name not in tables:
        tables[table_name] = []
    tables[table_name].append(f"{column_name} {datatype}")
# Convert to sql_statements
sql_statements = []
for table_name, columns in tables.items():
    columns_str = ", ".join(columns)
    sql_statement = f"CREATE TABLE {table_name} ({columns_str});"
    sql_statements.append(sql_statement)

In [15]:
tables = {}
for table_name, column_name, datatype in query_job:
    if table_name not in tables:
        tables[table_name] = []
    tables[table_name].append(f"{column_name} {datatype}")
# Convert to sql_statements
sql_statements = []
for table_name, columns in tables.items():
    columns_str = ", ".join(columns)
    sql_statement = f"CREATE TABLE {table_name} ({columns_str});"
    sql_statements.append(sql_statement)
sql_statements

['CREATE TABLE customer-churn (RowNumber INT64, CustomerId INT64, Surname STRING, CreditScore INT64, Geography STRING, Gender STRING, Age INT64, Tenure INT64, Balance FLOAT64, NumOfProducts INT64, HasCrCard INT64, IsActiveMember INT64, EstimatedSalary FLOAT64, Exited INT64, Complain INT64, Satisfaction_Score INT64, Card_Type STRING, Point_Earned INT64);',
 'CREATE TABLE wine (fixed_acidity FLOAT64, volatile_acidity FLOAT64, citric_acid FLOAT64, residual_sugar FLOAT64, chlorides FLOAT64, free_sulfur_dioxide FLOAT64, total_sulfur_dioxide FLOAT64, density FLOAT64, pH FLOAT64, sulphates FLOAT64, alcohol FLOAT64, quality INT64, Id INT64);']

In [1]:
import re

def prepend_database_name(sql_query, database_name):
    # This regular expression finds the table name in the SQL query.
    # It assumes that the table name is preceded by 'FROM ' or 'JOIN ' and 
    # followed by a space, comma or end of string.
    pattern = re.compile(r'(?<=FROM |JOIN )\w+(?=[ ,]|$)', re.IGNORECASE)

    # This function takes a match object and returns the table name 
    # prepended with the database name and a dot.
    def replacer(match):
        return f'{database_name}.{match.group(0)}'

    # Use the sub method to replace all table names in the SQL query.
    return pattern.sub(replacer, sql_query)

In [2]:
sql_query = "SELECT * FROM table1 JOIN table2 ON table1.id = table2.id"
database_name = "database"
new_sql_query = prepend_database_name(sql_query, database_name)
print(new_sql_query)

SELECT * FROM database.table1 JOIN database.table2 ON table1.id = table2.id